<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<nav>
    <a href="{% url "logout" %}">Logout</a>
</nav>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Render the form fields here -->
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
</body>
</html>
