<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
    <nav>
        <a href="{% url 'my_receipt_list' %}">My receipts</a>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_list' %}">List Accounts</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        <li><a href="{% url 'category_list' %}">List Categories</a></li>
        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        <!-- Add other links as needed -->
        {% endif %}
    </nav>
<body>
    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Render the form fields here -->
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>
</html>
