<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Receipts</title>
</head>
    <nav>
        <a href="{% url 'my_receipt_list' %}">My receipts</a>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_list' %}">List Accounts</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        <li><a href="{% url 'category_list' %}">List Categories</a></li>
        <li><a href="{% url 'create_category' %}">Create Category</a></li>
        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        <!-- Add other links as needed -->
        {% endif %}
    </nav>
<body>
    <main>
        <h1>My Receipts</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipt_list %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m/d/y" }}</td> <!-- Format date as mm/dd/y -->
                    <td>{{ receipt.category.name }}</td> <!-- Assuming 'category' is a related object -->
                    <td>{{ receipt.account.name }}</td> <!-- Assuming 'account' is a related object -->
                </tr>
                {% empty %}
                <tr>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
